body {
	border-width: 0px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size:12px;
}

h2 {
    color:#000055;
    padding-bottom:0px;
    margin-bottom:2px;
}
h3 {
    color:#000055;
    padding-bottom:0px;
    margin-bottom:2px;
}
a:link {
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:visited:hover {
    text-decoration: underline;
}



.new_page_header{
	width: 100%;
}

.new_page_logo{
    width:800px;
    color:#000077;
	font-size: 30px;
}

.full_div_blue{
    width:100%;
    background-color:#000077;
    height:1px;
}

.menu_bar{
    padding-top:2px;
    padding-bottom:2px;
    padding-right:5px;
    padding-left:5px;
    font-size:12px;
    background-color:#efefef;
}

.menu_items {
    float: left;   
}

.contact {
    text-align:right;
}

#content_body {
}


#vertical_divider{
    float:left;
    
}

#content{
    float: left;
    padding:5px;
}

#footer{
    clear:both;
    font-size:10px;
}

#footer_content{
    padding:3px;
    text-align:center;
}

#searchbar{
    font-size:12px;
}

table.std_table{
	border-style: none;
	border-spacing:0px ;
	border-color: #000077;
	background-color:#000077;
	border-collapse: collapse;
	font-size:11px;
}

table.std_table th{
    border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: #cccccc;
	background-color:#fdfdfd;
	font-weight: normal;
	text-align: left;
}

table.std_table td{
    border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #cccccc;
	background-color: #efefef;
	text-align:left;
	padding:2px;
}

table.threecol {
    width:100%;
    border-style: none;
	border-spacing:0px ;
	border-collapse: collapse;
}

#left_bar{
    vertical-align:top;
    padding:5px;
    width:200px;
}

#vertical_divider {
    width:1px;
    padding:0px;
    background-color:#afafaf;
    height:400px;
}

#content_container{
    vertical-align:top;
    padding:5px;
    font-size:12px;
}

#search_term{
    font-size:12px;
}

#external_links{
    font-size:12px;
}

.divider{
    height:0px;
    border-top-style:dotted;
    border-top-color:#afafaf;
    border-collapse:collapse;
    border-bottom-style:none;
}


.nodeDetailBox{
    padding:2px;
    background-color:#efefef;
    margin-top:2px;
    vertical-align:middle;
}

table.statementTableWrapper {
    border-style: none;
	border-spacing:0px ;
	background-color:#fdfdfd;
	border-collapse: collapse;
	width:100%;
}

table.statementTableWrapper td {
    border-style: none;
	border-spacing:0px ;
	background-color:#fdfdfd;
	border-collapse: collapse;
	width:100%;
	padding:10px;
}

.relation {
    font-style: italic;
    color: #ff0000;
}

.li_divider{
    padding:0px;
    margin:0px;
    height:0px;
    border-top-style:dotted;
    border-top-color:#afafaf;
    border-collapse:collapse;
    border-bottom-style:none;
}

.fixed_width{
    font-family: courier, fixed, monospace;
    font-weight:normal;
}

table.annotationStatementTable{
    font-size:12px;
    width:100%;
    border-style:none;
    border-spacing:1px;
    border-collapse:separate;
    padding-top:5px;
}

table.annotationStatementTable th{
    width:12px;
    vertical-align:top;
    padding-right:8px;
    padding-top:0px;
    
}

table.annotationStatementTable td{
    padding:0px
}

.expandoImage{
    vertical-align:bottom;
    border:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:4px;
}

table.otherFormats {
    width:100%;
    font-size:11px;
    border-style:none;
    border-spacing:1px;
    border-collapse:separate;
    background-color:#acacac;
    padding:0px;
}

table.otherFormats th{
    padding-left:4px;
    text-align:left;
    background-color:#dfdfdf;
}

table.otherFormats td{
    text-align:center;
    padding:2px;
    background-color:white;
    width:18%;
}

.nodeDef{
    color:#5c5c5c;
    font-size:11px;
}

table.scoredNodeResults {
    font-size:12px;
    border-collapse:separate;
    border-spacing:2px;
    background-color:#ffffff;
}


table.scoredNodeResults th{
    font-weight:normal;
    text-align:left;
    vertical-align:bottom;    
    padding-left:2px;
    padding-right:2px;
    background-color:#fdfdfd;
}

table.scoredNodeResults td{
    padding-left:2px;
    background-color:#fdfdfd;
}

table.mdInfo {
    background:none;
    font-size:12px;
}

table.mdInfo th {
    font-weight:bold;
    color:#000055;
    text-align:left;
}

table.genotypeScores {

    font-size:11px;
    border-style:none;
    border-spacing:1px;
    border-collapse:separate;
    background-color:#acacac;
    padding:0px;
}

table.genotypeScores th.std{
    padding-left:4px;
    text-align:left;
    background-color:#F0F0F0;
}

table.genotypeScores th.primaryHighlight{
    padding-left:4px;
    text-align:left;
    background-color:#FF9999;
}

table.genotypeScores th.secondaryHighlight{
    padding-left:4px;
    text-align:left;
    background-color:#9999FF;
}

table.genotypeScores td{
    text-align:left;
    padding:2px;
    width:40px;
    background-color:white;
}

table.genotypeScores td.basicScore{
    text-align:left;
    padding:2px;
    width:40px;
    font-weight:normal;
    background-color:#FFF0F0;
}

table.genotypeScores td.contentRatioScore{
    text-align:left;
    padding:2px;
    width:40px;
    font-weight:normal;
    background-color:#F0FFF0;
}

table.genotypeScores td.blank{
    padding:2px;
    width:40px;
    background-color:#acacac;
}

table.nodeList td.primaryHighlight{
    //font-weight:bold;
    background-color:#FF9999;
}
table.nodeList span.primaryHighlight{
    //font-weight:bold;
    background-color:#FF9999;
}

table.nodeList span.score {
	font-size:9px;
}
table.nodeList span.exactMatch {
	font-weight:bold;
}

table.genotypeScores td.primaryHighlight{
    padding:2px;
    width:40px;
    font-weight:bold;
    background-color:#FF9999;
}

table.genotypeScores td.secondaryHighlight{
    padding:2px;
    width:40px;
    background-color:#9999FF;
    font-weight:bold;
}

table.intersectionPairTable {
    font-size:11px;
    border-style:none;
    border-spacing:0px;
    border-collapse:separate;
    background-color:#ffffff;
    padding:0px;
}

table.intersectionPairTable th.set1{
    padding:10px;
    width:40px;
    background-color:#FFF6F6;
    width:40%;
    font-size:12px;
}

table.intersectionPairTable th.set2{
    padding:10px;
    width:40px;
    background-color:#F6F6FF;
    width:40%;
    font-size:12px;
    border-left:1px dotted #AAAAAA;
}

table.intersectionPairTable th.scoringSummary{
    padding:10px;
    font-weight:normal;
    font-size:12px;
    border: 1px dashed #AAAAAA;
}

table.intersectionPairTable td.common{
    padding:2px;
    background-color:#FFEEFF;
    vertical-align:top;
    border: 1px dotted #AAAAAA;
    border-bottom:none;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
}


table.intersectionPairTable td.set1unique{
    padding:2px;
    background-color:#FFDDDD;
    vertical-align:top;
    border:1px dotted #AAAAAA;
    border-right:none;
}

table.intersectionPairTable td.set2unique{
    padding:2px;
    background-color:#DDDDFF;
    vertical-align:top;
    border:1px dotted #AAAAAA;
}

table.nodeList {
    font-size:11px;
}

table.nodeList td.max{
    vertical-align:top;
    font-size:16px;
}

table.nodeList td.std{
    vertical-align:top;
    font-size:11px;
}
